{% extends 'frontend/base_logged_in.html' %}

{# Load the tag library #}
{% load bootstrap4 %}
{% load cc_frontend_tags %}
{% load fontawesome_5 %}
{% load static %}
{% load i18n %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!-- #TODO <Iteration 4> -->

{% block imports %}
    <script type="text/javascript" src="{% static 'Nestable2/jquery.nestable.js' %}"></script>
    <link href="{% static 'css/edit_structure.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block title %}Edit - Collab Coursebook{% endblock %}


{% block content %}

    <h2 style="font-weight: bold" align="center">
        {% trans " Edit Course Structure" %}
    </h2>

    <!-- Menu list -->
    <menu id="nestable-menu">
        <button type="button" data-action="expand-all" class="btn btn-primary">
            {% fa5_icon 'expand' %} {% trans "Expand All" %}
        </button>
        <button type="button" data-action="collapse-all" class="btn btn-primary">
            {% fa5_icon 'compress' %} {% trans "Collapse All" %}
        </button>
        <a href="{% url 'frontend:add_topic' course.id %}"
           onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=800,height=400'); return false"
           class="btn btn-primary">
            {% fa5_icon 'plus' 'fas' %} Create Topic
        </a>
    </menu>

    <!-- Topc combobox -->
    {% csrf_token %}
    {{ form }}

    <br><br>
    <!-- Structure Editor -->
    <div class="container-fluid">
        <div class="row">
            <div class="cf nestable-lists enumeration">
                <!-- Nestable listing -->
                <div class="dd" id="nestable">
                    <ol class="dd-list" id="dd-list-app-categories-container">
                        <div id="dd-empty-placeholder"></div>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // Convert JSON containing topics to String
            const obj = JSON.stringify({{ existing_structure|safe }});
            let output = '';

            /**
             * Generates the menu list item for the item (topic)
             * @param item item to be added to the list
             * @returns {string} html list item
             */
            function buildItem(item) {
                let html = "<li class='dd-item' data-id='" + item.id + "'>";
                html += "<div class='dd-handle'>" + item.value + "</div>";
                console.log(item)
                // Sub topics
                if (item.children) {
                    html += "<ol class='dd-list'>";
                    $.each(item.children, function (index, sub) {
                        html += buildItem(sub);
                    });
                    html += "</ol>";
                }
                html += "</li>";
                return html;
            }

            // Parse json
            $.each(JSON.parse(obj), function (index, item) {
                output += buildItem(item);
            });

            // Add to list
            $('#dd-empty-placeholder').html(output);
            $('#nestable3').nestable();
        });

        $('.dd').nestable({
            /**
             * The callback provided as an option is fired when elements are reordered or nested.
             * @param l main container
             * @param e element that was moved
             */
            callback: function (l, e) {

            },

            /**
             * The callback provided as an option is fired when user starts to drag an element.
             * Returning false from this callback will disable the dragging.
             * @param l main container
             * @param e element that was moved
             */
            onDragStart: function (l, e) {
                // Get type of dragged element
                const type = $(e).data('type');

                // Based on type of dragged element add or remove no children class
                switch (type) {
                    case 'type1':
                        // Element of type1 can be child of type2 and type3
                        l.find("[data-type=type2]").removeClass('dd-nochildren');
                        l.find("[data-type=type3]").removeClass('dd-nochildren');
                        break;
                    case 'type2':
                        // Element of type2 cannot be child of type2 or type3
                        l.find("[data-type=type2]").addClass('dd-nochildren');
                        l.find("[data-type=type3]").addClass('dd-nochildren');
                        break;
                    case 'type3':
                        // Element of type3 cannot be child of type2 but can be child of type3
                        l.find("[data-type=type2]").addClass('dd-nochildren');
                        l.find("[data-type=type3]").removeClass('dd-nochildren');
                        break;
                    default:
                        console.error("Invalid type");
                }
            },

            /**
             * The callback provided as an option is fired when user drop an element and before 'callback' method fired.
             * Returning false from this callback will disable the dropping and restore element at start position.
             * @param l the main container
             * @param e the element that was moved
             * @param p the place where element was moved
             */
            beforeDragStop: function (l, e, p) {

            }
        });
    </script>

{% endblock %}