{% extends 'frontend/base_logged_in.html' %}

{# Load the tag library #}
{% load bootstrap4 %}
{% load cc_frontend_tags %}
{% load fontawesome_5 %}
{% load static %}
{% load i18n %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!-- #TODO <Iteration 4> -->

{% block imports %}
    <script type="text/javascript" src="{% static 'nestable2/jquery.nestable.js' %}"></script>
    <script type="text/javascript" src="{% static 'nestable2/dist/jquery.nestable.min.js' %}"></script>
    <link href="{% static 'nestable2/dist/jquery.nestable.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/edit_structure.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block title %}Edit - Collab Coursebook{% endblock %}


{% block content %}

    <h2 style="font-weight: bold" align="center">
        {% trans " Edit Course Structure" %}
    </h2>

    <!-- Menu list -->
    <menu id="nestable-menu">
        <button data-action="expand-all" class="btn btn-primary">
            {% fa5_icon 'expand' %} {% trans "Expand All" %}
        </button>
        <button data-action="collapse-all" class="btn btn-primary">
            {% fa5_icon 'compress' %} {% trans "Collapse All" %}
        </button>
        <a href="{% url 'frontend:add_topic' course.id %}"
           onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=800,height=400'); return false"
           class="btn btn-primary">
            {% fa5_icon 'plus' 'fas' %} Create Topic
        </a>
    </menu>

    <!-- Topic combobox -->
    {% csrf_token %}
    {{ form }}

    <br><br>
    <!-- Structure Editor -->
    <div class="container-fluid">
        <div class="row">
            <!-- Nestable listing -->
            <div class="cf nestable-lists">
                <div class="dd" id="nestable3">
                    <ol class="dd-list" id="dd-empty-placeholder">
                        <!-- Insert elements here -->
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <br>
    <button onclick="location.href='{% url 'frontend:course' course.id %}" class=" btn btn-primary">
        {% fa5_icon 'chevron-circle-left' 'fas' %} Back
    </button>
    <button type="submit" class="btn btn-primary">
        {% fa5_icon 'save' %} {% trans "Save" %}
    </button>
    <script>

        $(document).ready(function () {

            // Convert JSON containing topics to String
            const obj = JSON.stringify({{ existing_structure|safe }});
            // Output html
            let output = '';

            // Stores newly created topics
            const topics = []

            // Parse json, dynamically generate a nestable list
            $.each(JSON.parse(obj), function (index, item) {
                output += buildItem(item);
            });

            // Add to list
            $('#dd-empty-placeholder').html(output);

            // Activate nestable
            $('#nestable3').nestable();

            $("#dd-empty-placeholder .close").on("click", removeItem);

            // Define actions on buttons of the nestable menu
            $('#nestable-menu').on('click', function (event) {
                const target = $(event.target);
                const action = target.data('action');

                switch (action) {
                    case 'expand-all':
                        $('#nestable3').nestable('expandAll');
                        break;
                    case 'collapse-all':
                        $('#nestable3').nestable('collapseAll');
                        break;
                    default:
                        break;
                }
            });

            /**
             * Generates the menu list item for the item (topic).
             * @param item item to be added to the list
             * @returns {string} html list item
             */
            function buildItem(item) {
                // HTML code
                let html = "<li class='dd-item dd3-item' data-id='" + item.id + "'>";
                html += "\n";
                // Drag option
                html += "<div class='dd-handle dd3-handle'>Drag</div>";
                html += "\n";
                // Remove option
                html += "<a href='#' class='close close-assoc-file data-dismiss='alert' aria-label='close'>&times;</a>"
                html += "\n";
                html += "<div class='dd3-content'>" + item.value + "</div>";

                // Sub topics
                if (item.children) {
                    html += "<ol class='dd-list'>";
                    $.each(item.children, function (index, sub) {
                        html += buildItem(sub);
                    });
                    html += "</ol>";
                }
                html += "</li>";
                return html;
            }

            /**
             * Appends the new value to the last of the nestable list.
             * @param value the given value to append
             */
            function addItem(value, category) {
                const id = 'new_id' + topics.length;
                const item = {value: value, id: id, category: category}
                topics[id] = item;
                output += buildItem(item);
                $('#dd-empty-placeholder').html(output);

            }

            /**
             * Removes the clicked item for the nestable list.
             * @param event event
             */
            function removeItem(event) {
                $(this).closest('li').remove();
                console.log($('#nestable3').nestable('serialize'));
            }
        });
    </script>


{% endblock %}